@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


.sample {
  padding: 2rem 0;
  margin-top: 3rem;
  background-color: rgb(252, 248, 248);
}

.sampleSection {
  min-height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sampleContainer {
  width: 90%;
  max-width: 1000px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

.sample-left {
  width: 100%;
  height: 500px;
  background: url(../../assets/slider1.jpg) no-repeat center / cover;
  padding: 1rem;  
  border-radius: 1rem;
}

.sample-right {
  width: 60%;
  min-height: 200px;
  background: rgba(255, 255, 255, 0.671);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 1rem;
  color: white;
  margin-left: -150px;

  -webkit-box-shadow: 17px 10px 28px -18px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 10px 28px -18px rgba(0,0,0,0.75);
box-shadow: 17px 10px 28px -18px rgba(0,0,0,0.75);
}


.sample-header {
    text-align: center;
    padding: 1rem 0;
}

.sample-right h1 {
  font-size: 20px;
  font-weight: lighter;
  color: white;
}


.sample-right p {
  margin: 20px 0;
  text-align: center;
  color: rgb(44, 43, 44);
  font-size: 1.5rem;
}

.sample-right span {
  margin: 20px 0;
  text-align: center;
  color: rgb(219, 134, 5);
  font-size: 1.5rem;
  font-family: 'Kaushan Script', cursive;}


.sample-right a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
  .sampleContainer {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }

  .sample-left {
    width: 100%;
    height: 400px;
  }

  .sample-right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }


}

